.dark {
  background-color: #d1cbcb;
  filter: invert(1);
}
form {
  border: 1px solid;
  padding: 20px;
  min-width: 450px;
  //margin-right: 25px;
}
.form {
  max-height: 160px;
  min-width: 352px;
}
